# Project exclude paths
/hybris/bin/custom/Nendrasys/Nendrasysbackoffice/.externalToolBuilders/
/hybris/bin/custom/Nendrasys/Nendrasysbackoffice/.settings/
/hybris/bin/custom/Nendrasys/Nendrasysbackoffice/backoffice/classes/
/hybris/bin/custom/Nendrasys/Nendrasysbackoffice/classes/
/hybris/bin/custom/Nendrasys/Nendrasyscore/.externalToolBuilders/
/hybris/bin/custom/Nendrasys/Nendrasyscore/.settings/
/hybris/bin/custom/Nendrasys/Nendrasyscore/classes/
/hybris/bin/custom/Nendrasys/Nendrasysfacades/.externalToolBuilders/
/hybris/bin/custom/Nendrasys/Nendrasysfacades/.settings/
/hybris/bin/custom/Nendrasys/Nendrasysfacades/classes/
/hybris/bin/custom/Nendrasys/Nendrasysfulfilmentprocess/.externalToolBuilders/
/hybris/bin/custom/Nendrasys/Nendrasysfulfilmentprocess/.settings/
/hybris/bin/custom/Nendrasys/Nendrasysfulfilmentprocess/classes/
/hybris/bin/custom/Nendrasys/Nendrasysinitialdata/.externalToolBuilders/
/hybris/bin/custom/Nendrasys/Nendrasysinitialdata/.settings/
/hybris/bin/custom/Nendrasys/Nendrasysinitialdata/classes/
/hybris/bin/custom/Nendrasys/Nendrasysstorefront/.externalToolBuilders/
/hybris/bin/custom/Nendrasys/Nendrasysstorefront/.settings/
/hybris/bin/custom/Nendrasys/Nendrasysstorefront/web/commonwebsrc/
/hybris/bin/custom/Nendrasys/Nendrasysstorefront/web/testclasses/
/hybris/bin/custom/Nendrasys/Nendrasysstorefront/web/webroot/WEB-INF/classes/
/hybris/bin/custom/Nendrasys/Nendrasystest/.externalToolBuilders/
/hybris/bin/custom/Nendrasys/Nendrasystest/.settings/
/hybris/bin/custom/Nendrasys/Nendrasystest/classes/
/hybris/bin/modules/api-registry/apiregistrybackoffice/.externalToolBuilders/
/hybris/bin/modules/api-registry/apiregistrybackoffice/backoffice/classes/
/hybris/bin/modules/api-registry/apiregistryservices/.externalToolBuilders/
/hybris/bin/modules/b2c-accelerator/apparelstore/.externalToolBuilders/
/hybris/bin/modules/b2c-accelerator/apparelstore/.settings/
/hybris/bin/modules/b2c-accelerator/electronicsstore/.externalToolBuilders/
/hybris/bin/modules/b2c-accelerator/electronicsstore/.settings/
/hybris/bin/modules/backoffice-framework/backoffice/.settings/
/hybris/bin/modules/backoffice-framework/backoffice/web/testclasses/
/hybris/bin/modules/backoffice-framework/platformbackoffice/.settings/
/hybris/bin/modules/base-commerce/basecommerce/.settings/
/hybris/bin/modules/base-commerce/basecommercebackoffice/.settings/
/hybris/bin/modules/base-commerce/customerreview/.settings/
/hybris/bin/modules/base-commerce/payment/.settings/
/hybris/bin/modules/base-commerce/promotions/.settings/
/hybris/bin/modules/base-commerce/promotionsbackoffice/.externalToolBuilders/
/hybris/bin/modules/base-commerce/promotionsbackoffice/.settings/
/hybris/bin/modules/base-commerce/promotionsbackoffice/backoffice/classes/
/hybris/bin/modules/base-commerce/voucher/.settings/
/hybris/bin/modules/base-commerce/voucherbackoffice/.settings/
/hybris/bin/modules/commerce-services/commercefacades/.externalToolBuilders/
/hybris/bin/modules/commerce-services/commercefacades/.settings/
/hybris/bin/modules/commerce-services/commerceservices/.externalToolBuilders/
/hybris/bin/modules/commerce-services/commerceservices/.settings/
/hybris/bin/modules/commerce-services/commerceservicesbackoffice/.settings/
/hybris/bin/modules/core-accelerator/acceleratorbackoffice/.settings/
/hybris/bin/modules/core-accelerator/acceleratorcms/.externalToolBuilders/
/hybris/bin/modules/core-accelerator/acceleratorcms/.settings/
/hybris/bin/modules/core-accelerator/acceleratorfacades/.externalToolBuilders/
/hybris/bin/modules/core-accelerator/acceleratorfacades/.settings/
/hybris/bin/modules/core-accelerator/acceleratorservices/.externalToolBuilders/
/hybris/bin/modules/core-accelerator/acceleratorservices/.settings/
/hybris/bin/modules/core-accelerator/acceleratorservices/web/testclasses/
/hybris/bin/modules/core-accelerator/acceleratorstorefrontcommons/.externalToolBuilders/
/hybris/bin/modules/core-accelerator/acceleratorstorefrontcommons/.settings/
/hybris/bin/modules/customer-service/ticketsystem/.settings/
/hybris/bin/modules/platform/auditreportservices/.settings/
/hybris/bin/modules/search-and-navigation/solrfacetsearch/.settings/
/hybris/bin/modules/search-and-navigation/solrfacetsearchbackoffice/.settings/
/hybris/bin/modules/search-and-navigation/solrserver/.settings/
/hybris/bin/modules/web-content-management-system/cms2/.settings/
/hybris/bin/modules/web-content-management-system/cms2lib/.settings/
/hybris/bin/modules/web-content-management-system/cmsfacades/.settings/
/hybris/bin/platform/.externalToolBuilders/
/hybris/bin/platform/.settings/
/hybris/bin/platform/bootstrap/modelclasses/
/hybris/bin/platform/ext/advancedsavedquery/.settings/
/hybris/bin/platform/ext/catalog/.settings/
/hybris/bin/platform/ext/comments/.settings/
/hybris/bin/platform/ext/commons/.settings/
/hybris/bin/platform/ext/core/.settings/
/hybris/bin/platform/ext/deliveryzone/.settings/
/hybris/bin/platform/ext/europe1/.settings/
/hybris/bin/platform/ext/hac/.settings/
/hybris/bin/platform/ext/hac/web/testclasses/
/hybris/bin/platform/ext/impex/.settings/
/hybris/bin/platform/ext/maintenanceweb/.settings/
/hybris/bin/platform/ext/mediaweb/.settings/
/hybris/bin/platform/ext/oauth2/.settings/
/hybris/bin/platform/ext/paymentstandard/.settings/
/hybris/bin/platform/ext/platformservices/.settings/
/hybris/bin/platform/ext/scripting/.settings/
/hybris/bin/platform/ext/testweb/.settings/
/hybris/bin/platform/ext/testweb/web/testclasses/
/hybris/bin/platform/ext/validation/.settings/
/hybris/bin/platform/ext/workflow/.settings/
/hybris/bin/platform/tomcat/